<% provide :title, 'Bidii | Forgot Password'%>

<div class="main-login col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <%=render "layouts/image"%>
        
        <!-- start: LOGIN BOX -->
        <div class="box-login">
            <h3 class="text-center">Forgotten your password?</h3>
            <p class="text-center">
                Enter your email to reset your password.<br />
                You may need to check your email.
            </p>
            <%= form_for :user do |f|%>
            <%= f.text_field :name, class: 'form-control', placeholder: 'Email'%><br>
            <%= f.submit "Continue", class: "btn btn-primary" %> 

            <%=render "layouts/createAcc"%>
            <%end%>

        </div>
        <!-- end: LOGIN BOX -->

        <!-- start: COPYRIGHT -->
        <%= render 'layouts/account_footer' %>
        <!-- end: COPYRIGHT -->
    </div>